on:
  push:
    branches:
      - "**"

jobs:
  converge:
    name: Converge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Log in to registry
        # This is where you will update the personal access token to GITHUB_TOKEN
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Run echo
        run: |
          docker version
          echo $GITHUB_REPOSITORY
          echo $GITHUB_SHA

      - name: Run Build
        run: |
          docker build -t ghcr.io/opal-project-dev/fluidity:$GITHUB_SHA
          docker push ghcr.io/opal-project-dev/fluidity:$GITHUB_SHA
